<!DOCTYPE html>
<html>

<head>
    <title>Aula 18</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>


    <table id="table">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Id</th>
            <th>Preview</th>
        </tr>
    </table>

    <div id="modal">
        <label>Name</label>
        <input id="i-name" type="text" />
        <br>
        <label>Password</label>
        <input id="i-password" type="text" />
        <br>
        <label>ID</label>
        <input id="i-id" type="text" disabled/>
        <br>
        <button id="change">Alterar</button>
    </div>


</body>
<script src="./js/pedido.js"></script>
<script src="./js/alterar.js"></script>

</html>